header {
	background: linear-gradient(#FFFF00, #FEFEFE );
	padding: 20px 0;
}
nav {
	position: absolute;
	margin: 40px;
	top: 110px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 10px;
}

nav a {
	text-transform: uppercase;
	color: #008000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}
nav a:hover {
	color: #FFFF00;
	text-decoration: underline;
}
.titulo-principal {
	color: #008000;
	text-align: center;
	font-size: bold;
	clear: left;
}

div p {
	text-align:center;
	color: #008000;
	font-size: 22px;
	font-style: italic;
	margin: auto;
}

.down {
	width: 940px; 
    margin: auto;
    display: block;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40PX 0;
	background: linear-gradient(#FEFEFE, #FFFF00);
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}