body {
	
font-family: 'Poppins', sans-serif; 
}

header {
	background: linear-gradient(#FF0000, #FEFEFE );
	padding: 20px 0;
}
nav {
	position: absolute;
	margin: 40px;
	top: 110px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 10px;
}

nav a {
	text-transform: uppercase;
	color: #0000FF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}
nav a:hover {
	color: #FF0000;
}	

.inclu {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic ;
}

.principal {
		background: #FEFEFE;
		padding: auto;
	}	

	#missao {
		font-size: 20px
	}
		
	em strong {
		color: #008000;
	}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	color: #0000FF;
	margin: 0 0 1em;
	clear: left;
}

div p {
	text-align:center;
	margin: auto;
}

.imagem-crianca {
	width: 940px; 
    margin: auto;
    display: block;
}

.mapa {
	padding: 3em 0;
	
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;

}
.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40PX 0;
	background: linear-gradient(#FEFEFE, #FF0000);
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}